<header>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href=/>Stress_relife_method</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            メソッド一覧
          </a>
          
          <ul class="dropdown-menu dropdown-menu-extend" aria-labelledby="navbarDropdownMenuLink">
          <div class="dropdown-menu-extend">
            <li><%= link_to 'ストレスサーモメーター', gets1st1_path %></li>
            <li><%= link_to 'ポジティブ・メモリーズ', gets1_path %></li>
            <li><%= link_to 'ネガティブ・ダストビン', gets2_path %></li>
            <li><%= link_to 'フォアヘッド・タッピング', gets3_path %></li>
            <li><%= link_to 'マインドバス・テクニック', gets4_path %></li>
            <li><%= link_to 'メンタル・クリアボタン', gets5_path %></li>
            <li><%= link_to 'フライ・オン・ザ・ウォール', gets6_path %></li>
            <li><%= link_to 'メンタル・サブトラクティング', gets7_path %></li>
            <li><%= link_to 'ファイブセンス・カウントダウン', gets8_path %></li>
            </div>
          </ul>
          
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>