<ul>
<li><%= link_to 'ストレスサーモメーター', gets1st1_path %></li>
<li><%= link_to 'ポジティブ・メモリーズ', gets1_path %></li>
<li><%= link_to 'ネガティブ・ダストビン', gets2_path %></li>
<li><%= link_to 'フォアヘッド・タッピング', gets3_path %></li>
<li><%= link_to 'マインドバス・テクニック', gets4_path %></li>
<li><%= link_to 'メンタル・クリアボタン', gets5_path %></li>
<li><%= link_to 'フライ・オン・ザ・ウォール', gets6_path %></li>
<li><%= link_to 'メンタル・サブトラクティング', gets7_path %></li>
<li><%= link_to 'ファイブセンス・カウントダウン', gets8_path %></li>
</ul>